



.about_me_text {
    font-size: 20px;
    line-height: 1.75;
    margin: 10px 10%
}

.about__avatar {
    width: 125px;
    height: 125px;
    border: 1px black solid;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
}

 .about__header {
     font-size: 30px;

 }

 .about__header {
     font-size: 50px;
     text-align: center;
     margin: 10px auto;
    scroll-margin-top: 80px;
 }



 @media screen and (max-width: 600px) {
    .about__header {
            font-size: 30px;
        }
    }